---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      <div class="row">
        {% for profile in page.profiles %}
          <div class="col-12 col-md-4 mb-5 text-center">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: 768px) 200px, 50vw{% endcapture %}
              <div style="max-width: 200px; margin: 0 auto 1rem auto;">
                {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
              </div>
            {% endif %}

            {% if profile.more_info %}
              <div class="more-info mb-2">{{ profile.more_info }}</div>
            {% endif %}

            {% if profile.content %}
              <div class="profile-content">
                {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                {{ profile_content | markdownify }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </article>
</div>
